<a href="https://colab.research.google.com/github/HaksuChang/python_programming/blob/main/Lists(%ED%95%99%EC%83%9D%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Lists in Python</h1>

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [ ]:
a_list = [1, 'hello', [1,2,3] ,True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of <code>a_list</code>.

In [ ]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [ ]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [ ]:
A = [1, 'a']
B = [2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']